
body{
	margin: 0;
	padding: 0;
}

body{
	font-size: 14px;
}

ul{
	list-style: none;
}

img{
	border: none;
}

input,select,textarea{
	outline: none;
	border: none;
}

a{
	text-decoration: none;
	color: #656565;
}

/*左浮动，右浮动*/
.fl{float: left;}
.lr{float: right;}